/* div h1{
    margin-right: 50%;
    font-family: lora;
    font-size: 60px;
}

.maindiv{
    display: flex;
    gap: 40px;
    margin-top: 30px;
}

.innerdiv{
    width: 70%;
}

.innerdiv p{
    font-family: lora;
    font-size: 25px;
}

.image-container{
    display: flex;
    width: 100%;
    gap: 20px;
} */
.img1 {
    width: 500px;
    height: 600px;
    margin-left: 50px;
}

.image-container {
    display: flex;
    width: 50%;
    gap: 20px;
    object-fit: cover;
}

.image-container img {
    height: 200px;
    width: 300px;
    border-radius: 5px;
}

.maindiv {
    gap: 40px;
}

.innerdiv {
    margin: 20px;
}

.destination-item{
    height: 600px;
}

.search-bar-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    padding-right: 20px;
}

.search-bar {
    padding: 10px;
    width: 250px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.search-bar:focus {
    outline: none;
    border-color: #007bff;
}