.img1 {
    width: 500px;
    height: 600px;
    margin-left: 50px;
}

.image-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 20px;
}

.image-container img {
    height: 200px;
    width: 300px;
    border-radius: 5px;
}

.maindiv {
    gap: 40px;
}

.innerdiv {
    margin: 20px;
}

.destination-item {
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
    transition: transform 0.2s;
}

.destination-item:hover {
    transform: scale(1.03);
}

.search-bar-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    padding-right: 20px;
}

.search-bar {
    padding: 10px;
    width: 250px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.search-bar:focus {
    outline: none;
    border-color: #007bff;
}